@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

.hide-element {
  display: none;
}  

.error-message{
color: red;
}

.card-title{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}